#cloud-config
# Cloud-init para vm_jhonatan - Configuración automática en primer boot
# Coloca este archivo en /var/lib/cloud/seed/nocloud/user-data

hostname: vm-jhonatan
users:
  - name: jhonatan
    passwd: '$6$rounds=656000$saltsalt$hash_de_qwe123$'  # qwe123$ hasheado
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3... # Tu clave pública aquí

package_update: true
packages:
  - openssh-server
  - NetworkManager
  - git
  - ansible-core

runcmd:
  # Configurar red automáticamente
  - nmcli connection add type ethernet ifname ens192 con-name lab-lan ipv4.method manual ipv4.addresses 192.168.50.1/24 connection.autoconnect yes
  - nmcli connection add type ethernet ifname ens33 con-name wan-dhcp ipv4.method auto connection.autoconnect yes
  - nmcli connection up lab-lan
  - nmcli connection up wan-dhcp
  - sysctl -w net.ipv4.ip_forward=1
  - echo 'net.ipv4.ip_forward=1' >> /etc/sysctl.conf
  - systemctl enable --now sshd
  
  # Clonar y preparar Ansible
  - cd /home/jhonatan && git clone https://github.com/JhonatanCh29/ansible.git
  - chown -R jhonatan:jhonatan /home/jhonatan/ansible

final_message: "vm_jhonatan configurada automáticamente. IP: 192.168.50.1"